# General
# -----------------------------------------------------------------------------
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/
*.tmp

# IDEs & Editors
# -----------------------------------------------------------------------------
.vscode/
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET / C# Project (jobboardapi)
# -----------------------------------------------------------------------------
# Ignore build output folders
[Bb]in/
[Oo]bj/

# Ignore sensitive app settings
jobboardapi/api/appsettings.Development.json

# Ignore user-specific files
*.pdb
*.dll
*.exe

# Database files
*.mdf
*.sqlite
*.db

# Security
*.pem
*.pfx
secrets/
.env
.env.local


# Node.js Project (jobboardfe)
# -----------------------------------------------------------------------------
# Ignore dependencies
jobboardfe/node_modules/

# Ignore build output
jobboardfe/build/
jobboardfe/dist/

# Ignore caches and logs
jobboardfe/.cache/
jobboardfe/.parcel-cache/
jobboardfe/coverage/

# Ignore environment variables files
jobboardfe/.env*